Os comandos abaixo carregam o famoso dataset do titanic no objeto chamado *df*. Explore a tabela e responda as seguintes questões **sempre colocando o código em Python utilizado para chegar às respostas.**

1) Quantas pessoas sobreviveram ao acidente?
2) Quantas criancas menores de 12 anos sobreviveram ao acidente?
3) Quantas pessoas embarcaram nos portos de Southampton OU Queenstow?
4) Crie um objeto chamado **passageiras** que seleciona somente as passageiras.
5) Crie um objeto chamado **criancas_cherbourg** que seleciona as crianças com menos de 12 anos E que embarcaram na cidade de Cherbourg.
6) Crie um objeto chamado **titanic_menor** e selecione as colunas de *nome*, *idade*, *classe* e *embarque*
7) Supondo que o valor da tarifa no dataset está em libras, e que 1£ = R$ 6.43, crie uma nova coluna chamada **tarifa_real** que contenha a tarifa de embarque em reais.
8) Agrupe pela coluna sobreviveu e calcule o número de passageiros por grupo (sim/nao)
9) Agrupe pelo local de embarque e calcule a média e a mediana da tarifa de cada grupo.
10) Agrupe pela classe e conte a quantidade de pessoas por classe
11) Agrupe pela classe e pela coluna sobreviveu e conte a quantidade de pessoas que sobreviveu de acordo com cada classe. Quem sobreviveu mais? A classe mais alta ou a mais baixa?
12) Agrupe pelo sexo e pela coluna sobreviveu e conte a quantidade de pessoas que sobreviveram de acordo com o sexo. Quem sobreviveu mais? Homens ou mulheres?

In [8]:
import pandas as pd

In [9]:
df = pd.read_csv('../dados/titanic.csv')
df

,id_passageiro,sobreviveu,classe,nome,sexo,idade,irmaos_conjuge,pais_criancas,passagem,tarifa,cabine,embarque
0,1,nao,3,"Braund, Mr. Owen Harris",masculino,22.0,1,0,A/5 21171,7.2500,NaN,Southampton
1,2,sim,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",feminino,38.0,1,0,PC 17599,71.2833,C85,Cherbourg
2,3,sim,3,"Heikkinen, Miss. Laina",feminino,26.0,0,0,STON/O2. 3101282,7925.0000,NaN,Southampton
3,4,sim,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",feminino,35.0,1,0,113803,53.1000,C123,Southampton
4,5,nao,3,"Allen, Mr. William Henry",masculino,35.0,0,0,373450,8.0500,NaN,Southampton
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,nao,2,"Montvila, Rev. Juozas",masculino,27.0,0,0,211536,13.0000,NaN,Southampton
887,888,sim,1,"Graham, Miss. Margaret Edith",feminino,19.0,0,0,112053,30.0000,B42,Southampton
888,889,nao,3,"Johnston, Miss. Catherine Helen ""Carrie""",feminino,NaN,1,2,W./C. 6607,23.4500,NaN,Southampton
889,890,sim,1,"Behr, Mr. Karl Howell",masculino,26.0,0,0,111369,30.0000,C148,Cherbourg
890,891,nao,3,"Dooley, Mr. Patrick",masculino,32.0,0,0,370376,7.7500,NaN,Queenstow

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id_passageiro   891 non-null    int64
 1   sobreviveu      891 non-null    object
 2   classe          891 non-null    int64
 3   nome            891 non-null    object
 4   sexo            891 non-null    object
 5   idade           714 non-null    float64
 6   irmaos_conjuge  891 non-null    int64
 7   pais_criancas   891 non-null    int64
 8   passagem        891 non-null    object
 9   tarifa          891 non-null    float64
 10  cabine          204 non-null    object
 11  embarque        889 non-null    object
dtypes: float64(2), int64(4), object(6)
memory usage: 83.7+ KB

In [19]:
#questão 1)
df['sobreviveu'].value_counts()

nao    549
sim    342
Name: sobreviveu, dtype: int64

Bad pipe message: %s [b'<\xdd\xeb\xb7\xa3\xf0/\xbb\xd9?\x12K\xa5|\xc3\x8d\x12\xae \xc1\x95\xa9\x1d\xa1\xd5\x85+\x9f]s\x97\x9c\xa5\xc4\xe9W\x8c\xcd\x993\xb8\xe3B\xfd8\xd8#0\xd3\xb2D\x00\x08\x13\x02\x13\x03\x13\x01\x00\xff\x01\x00\x00\x8f\x00\x00\x00\x0e\x00\x0c\x00\x00\t127.0.0.1\x00\x0b\x00\x04\x03\x00\x01\x02\x00\n\x00\x0c\x00\n\x00\x1d\x00\x17\x00\x1e\x00\x19\x00\x18\x00#\x00\x00\x00\x16\x00\x00\x00\x17\x00\x00\x00\r\x00\x1e\x00\x1c\x04\x03\x05\x03\x06\x03\x08\x07\x08\x08\x08\t\x08\n\x08\x0b\x08\x04\x08\x05\x08\x06\x04\x01\x05\x01\x06\x01\x00+\x00\x03\x02\x03\x04\x00-\x00\x02\x01\x01\x003\x00&\x00$\x00\x1d\x00 -\x99\xe9M\xfb\x05q3Q\xe2\xd4\xf2v']
Bad pipe message: %s [b'\xf2\xe5\xee$M\xb8\x85\x10\x89\xf8\xec\xff\xc9\xb3\x07+\\\xae ~\xed\x04\\X\xa8\xfe\x0e7\xbd.H\xefJO:\x16\xc2\xbcU\xaa@{E\xaa\xa8\x0b\xc5_\xc8\xe3K\x00\x08\x13\x02\x13\x03\x13']
Bad pipe message: %s [b'\xb6\x9e3\x8ck\x02\x9fK\xae\xe2eC\xde\xbe\xc5V\x96\xa6\x00\x00|\xc0,\xc00\x00\xa3\x00\x9f\xcc\xa9\xcc\xa8\xcc\xaa\xc0\xaf\xc0\xad\xc0\xa3\xc0\x9f', b"\xc0a\xc0W\xc0S\xc0+\xc0/\x00\xa2\x00\x9e\xc0\xae\xc0\xac\xc0\xa2\xc0\x9e\xc0\\\xc0`\xc0V\xc0R\xc0$\xc0(\x00k\x00j\xc0#\xc0'\x00g\x00@\xc0\n\xc0\x14\x009\x008\xc0\t\xc0\x13\x003\x002\x00\x9d\xc0\xa1\xc0\x9d\xc0Q\x00\x9c\xc0\xa0\xc0\x9c\xc0P\x00=\x00<\x005\x00/\x00\x9a\x00\x99\xc0\x07\xc0\x11\x00\x96\x00\x05\x00\xff\x01\x00\x00j\x00\x00\x00\x0e\x00\x0c\x00\x00\t127.0.0.1\x00\x0b\x00\x04\x03\x00\x01\x02\x00\n\x00\x0c\x00\n\x00\x1d\x00\x17\x00\x1e\x00\x19\x00\x18\x00#\x00\x00\x00\x16\x00\x00\x00\x17\x00\x00\x00\r\x000\x00.\x04\x03\x05\x03\x06\x03\x08\x07\x08\x08\x08\t\x08\n\x08\x0b\x08\x04\x08\x05\x08\x06\x04\x01\x05\x01\x06", b'', b'\x03\x03']
Bad pipe message: %s [b'c*4\xecG[\xa2\xb8\x82\x83\xd8\xeal\xa2\x07\x98\xa5\x00\x00\x00\xf4']
Bad pipe message: %s [b'~\xef\xb58\x16Ih\x07c\x83O\x96\x16e\xd6Fa\xc1\x00\x00\xa2\xc0\x14\xc0\n\x009\x008\x007\x006\x00\x88\x00\x87\x00\x86\x00\x85\xc0\x19\x00:\x00\x89\xc0\x0f\xc0\x05\x005\x00\x84\xc0\x13\xc0\t\x003\x002\x001\x000\x00\x9a\x00\x99\x00\x98\x00\x97\x00E\x00D\x00C\x00B\xc0', b'4\x00\x9b\x00F\xc0\x0e\xc0\x04\x00/\x00\x96\x00A\x00\x07\xc0\x11\xc0\x07\xc0\x16']
Bad pipe message: %s [b'\xde~\x92W$\x94\x02\xcc\xab>m\xda\xe2BZ\x9e\xa1\x86\x00\x00\xa2\xc0\x14\xc0\n\x009\x008\x007\x006\x00\x88\x00\x87\x00\x86\x00\x85\xc0\x19\x00:\x00\x89\xc0\x0f\xc0\x05\x005\x00\x84\xc0\x13\xc0\t\x003\x002\x001\x000\x00\x9a\x00\x99\x00\x98\x00\x97\x00E\x00D\x00C\x00B\xc0\x18\x004\x00\x9b\x00F\xc0\x0e\xc0\x04\x00/\x00\x96\x00A\x00\x07\xc0\x11\xc0\x07\xc0\x16\x00\x18\xc0\x0c\xc0\x02\x00\x05\x00\x04\xc0\x12\xc0\x08\x00\x16\x00\x13\x00\x10\x00\r\xc0']
Bad pipe message: %s [b'\xbb\x01\xa3\xeft\x97\xeaU]D\x94)E{\x05R:\xaa\x00\x00>\xc0\x14\xc0\n\x009\x008\x007\x006\xc0\x0f\xc0\x05\x005\xc0\x13\xc0\t\x003\x002\x001\x000\xc0\x0e\xc0\x04\x00/\x00\x9a\x00\x99\x00\x98\x00\x97\x00\x96\x00\x07\xc0\x11\xc0\x07\xc0\x0c\xc0\x02\x00\x05\x00\x04\x00\xff\x02\x01\x00\x00C\x00\x00\x00\x0e\x00\x0c\x00\x00\t127.0.0.1\x00\x0b\x00\x04\x03\x00\x01\x02\x00\n\x00\x1c\x00\x1a\x00\x17\x00', b'\x1c\x00\x1b\x00\x18\x00\x1a\x00\x16\x00\x0e\x00\r\x00\x0b\x00\x0c\x00\t\x00\n\x00#\x00']
Bad pipe message: %s [b'\x1b\xc0\r\xc0\x03\x00\n\x00\x15\x00\x12\x00\x0f\x00\x0c\x00\x1a\x00\t\x00\x14\x00']
Bad pipe message: %s [b'']
Bad pipe message: %s [b'']
Bad pipe message: %s [b"\xc0,\xc0(\xc0$\xc0\x14\xc0\n\x00\xa5\x00\xa3\x00\xa1\x00\x9f\x00k\x00j\x00i\x00h\x009\x008\x007\x006\x00\x88\x00\x87\x00\x86\x00\x85\xc0\x19\x00\xa7\x00m\x00:\x00\x89\xc02\xc0.\xc0*\xc0&\xc0\x0f\xc0\x05\x00\x9d\x00=\x005\x00\x84\xc0/\xc0+\xc0'\xc0#\xc0\x13\xc0\t\x00\xa4\x00\xa2\x00\xa0\x00\x9e\x00g\x00@\x00?\x00>\x003\x002\x001\x000\x00\x9a\x00\x99\x00\x98\x00\x97\x00E\x00D\x00C\x00B\xc0\x18\x00\xa6\x00l\x004\x00\x9b\x00F\xc01\xc0-\xc0)\xc0%\xc0\x0e\xc0\x04\x00\x9c\x00<\x00/\x00\x96\x00A\x00\x07\xc0\x11\xc0\x07\xc0\x16\x00\x18\xc0\x0c\xc0\x02\x00\x05\x00\x04\xc0\x12\xc0\x08\x00\x16\x00\x13\x00\x10\x00\r\xc0\x17\x00"]
Bad pipe message: %s [b'\x19\x00\x08\x00\x06\x00\x17\x00\x03\xc0\x10\xc0\x06\xc0\x15\xc0']
Bad pipe message: %s [b'\r\xc0\x03\x00\n\x00\x15\x00\x12\x00\x0f\x00\x0c\x00\x1a\x00\t\x00\x14\x00\x11\x00\x19\x00\x08\x00']
Bad pipe message: %s [b'', b'\x02']
Bad pipe message: %s [b'\x01\x00\x02\x00\x01\x00\xff\x02\x01\x00']
Bad pipe message: %s [b'\x17\x00\x03\xc0\x10']
Bad pipe message: %s [b'\x05\x02\x06']